.carousel-container {
    position: relative;
    width: 100%;
    height: 100%; /* O usa un valor específico, como '500px' o '60vh' */
  }
  
  .carousel-container img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ajusta la imagen para que toda entre en el contenedor */
    object-position: center; /* Centra la imagen si no llena completamente el contenedor */
  }
  