.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: flex-start;
}

.card_360 img {
  width: 100%;
  height: auto;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.headerText {
  text-align: left;
  margin: 100px;
}

.headerText h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  margin: 0;
}

.headerText h2 {
  font-size: 2.5rem;
  margin-top: 10px;
  color: white;
  margin-bottom: 0;
}

.cardsContainer {
  display: flex;
  gap: 50px;
  background-color: #fcfcfccc;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s;
  padding: 1.5rem;
  width: 20%;
  max-width: 300px;
}

.card img {
  display: block;
  margin: 0 auto;
  width: 80%;
  border-radius: 50%;
  object-fit: cover;
}

.card:hover {
  transform: scale(1.05);
}

.card p:last-child {
  font-size: 0.9em;
  color: #666;
  margin-top: 25px;
  margin-bottom: 10px;
}

.card_360 {
  border-radius: 8px;
  text-align: center;
  width: 100%;
  height: auto;
}

.card_360 img {
  width: 100%;
}

@media (max-width: 768px) {
  .headerText h1 {
    font-size: 1.5rem;
  }

  .headerText h2 {
    font-size: 2rem;
  }

  .card {
    width: 80%;
  }

  .header {
    background: linear-gradient(180deg, #44546c, #fcfcfccc);
  }

  .card_360 {
    display: none;
  }
}
