.txtPrincipalColor {
  color: var(--terciario-color);
}

.txtSecundaryColor {
  color: var(--secundario-color);
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  /* margin-top: 50px;
  margin-bottom: 50px; */
  height: 50vh;
}

.headerText h1 {
  font-size: 3rem;
  font-weight: bold;
  color: var(--terciario-color);
  margin: 0;
}

.headerText h2 {
  font-size: 1.5rem;
  margin: 0;
  color: var(--principal-color);
}

.headerText h3 {
  font-size: 0.8rem;
  margin-top: 0px;
  color: var(--principal-color);
  margin-bottom: 10px;
}

.cardsContainer {
  display: flex;
  gap: 50px;
  background-color: #fcfcfccc;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s;
  padding: 1.5rem;
  width: 20%;
  max-width: 300px;
}

.card img {
  display: block;
  margin: 0 auto;
  width: 80%;
  border-radius: 50%;
  object-fit: cover;
}

.card:hover {
  transform: scale(1.05);
}

.card p:last-child {
  font-size: 0.9em;
  color: #666;
  margin-top: 25px;
  margin-bottom: 10px;
}

.card_360 {
  border-radius: 8px;
  text-align: center;
  width: 100%;
  height: auto;
}

.card_360 img {
  width: 100%;
}

@media (max-width: 768px) {
  .card {
    width: 80%;
  }
  .header {
    text-align: center;
    margin: 10px;
    flex-direction: column;
  }

  .card_360 {
    display: none;
  }
}

.ranking_home_container {
  background-color: var(--principal-color);
}

.ranking_home_opcion_container {
  box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
}
