.content_image_login,
.content_login{
 box-shadow: inset 0px 1px 13px 4px rgba(0, 0, 0, 0.1);
}

.content_image {
    display: block;
    height:auto;
  }

.content_register_top{
  margin-top: 150px;
}

  @media only screen and (max-width: 767px) {
    .content_image {
      display: none; 
    }
    .content_register_top{
      margin-top: 40px;
    }
    
  }
  