.txtPrincipalColor {
  color: var(--terciario-color);
}

.txtSecundaryColor {
  color: var(--secundario-color);
}

.bgRankingTop {
  background-color: white;
}

.imgRanking {
  border-radius: 50%;
}

@media only screen and (max-width: 767px) {
  .contentTxtRanking {
    text-align: center;
  }
}
