.content_opcions_nav {
  display: block;
}

.hamburger_menu {
  display: none;
}

.clickable {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.clickable:active {
  transform: scale(0.95);
}

.fadein {
  opacity: 0;
  transform: scale(0.8);
  animation: fadeIn 1.5s ease forwards;
}

.content_nav {
  background-color: var(--principal-color);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.text_hover_opcnav {
  position: relative; 
  color: white;
  text-decoration: none;
}

.text_hover_opcnav:hover {
  color: var(--secundario-color); 
  transition: all 0.3s ease;
}

.text_hover_opcnav::after {
  content: ""; 
  position: absolute;
  left: 0;
  bottom: -80%;
  width: 0;
  height: 4px;
  background-color: var(--secundario-color);
  transition: width 0.3s ease;
}

.text_hover_opcnav:hover::after {
  width: 100%;
}


.submenu {
  z-index: 2000;
  padding: 5px;
  background-color: #475569;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  .content_opcions_nav {
    display: none;
  }

  .hamburger_menu {
    display: block;
  }
}

@media (min-width: 768px) {
  .hiddenOnLarge {
    display: none;
  }
}
