/* navbar.module.css */

.content_opcions_nav {
  background: white;
  padding: 15px 35px 15px 50px;
  position: absolute;
  top: 1%;
  right: 0;
  box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  clip-path: polygon(5% 0, 100% 0, 100% 100%, 1% 100%);
  transition: all 0.3s ease-in-out;
}

.hamburger_menu {
  display: none; 
}

/* En pantallas pequeñas */
@media (max-width: 768px) {
  .content_opcions_nav {
    display: none;
  }

  .hamburger_menu {
    display: block; 
  }
}

@media (min-width: 768px) {
  .hiddenOnLarge {
    display: none;
  }
}