.content_opcions_nav {
  display: block;
}

.content_opcions_nav {
  background: white;
  padding: 15px 35px 15px 50px;
  position: absolute;
  right: 0;
  box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.hamburger_menu {
  display: none;
}

.clickable {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.clickable:active {
  transform: scale(0.95);
}

.fadein {
  opacity: 0;
  transform: scale(0.8);
  animation: fadeIn 1.5s ease forwards;
}

.content_nav {
  background-color: var(--principal-color);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.text_hover_opcnav {
  position: relative;
  color: white;
  text-decoration: none;
}

.text_hover_opcnav:hover {
  color: var(--secundario-color);
  transition: all 0.3s ease;
}

.btn_iniciar_sesion {
  color: var(--secundario-color);
  font-weight: 600;
  border-radius: 50px;
  border: 1px solid var(--principal-color);
  padding: 0.2rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.btn_iniciar_sesion:hover {
  color: white;
  background-color: var(--secundario-color);
  transition: all 0.8s ease;
}

.lblNameUser {
  color: var(--secundario-color);
  font-size: 1rem;
}

.lblNameUser:hover {
  color: var(--principal-color);
}

.text_hover_opcnav {
  color: var(--secundario-color);
}

.text_hover_opcnav::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -75%;
  width: 0;
  height: 4px;
  background-color: var(--secundario-color);
  transition: width 0.3s ease;
}

.text_hover_opcnav:hover::after {
  color: var(--principal-color);
  width: 100%;
}

.submenu {
  z-index: 2000;
  padding: 5px;
  background-color: #475569;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  .content_opcions_nav {
    display: none;
  }

  .hamburger_menu {
    display: block;
  }
}

@media (min-width: 768px) {
  .hiddenOnLarge {
    display: none;
  }
}
